.gameField {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cellSection {
    height: 496px;
    width: 496px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    height: 124px;
    width: 124px;
    background-color: red;
    border: 1px solid black;    
}

.field-item-img {
    background-image: url(2dbd01ce16c0fa83cb67.png);
    background-repeat: no-repeat;
    background-position: center center;
}
